base_url: 'https://api.cscs.ch/hpcdata/beta'
client_id: <consumer-key>
client_secret: <consumer-secret>
token_url: 'https://auth.cscs.ch/auth/realms/firecrest-clients/protocol/openid-connect/token'
jobid: <job-id>
cluster: <cluster-name> # e.g. 'daint`', 'santis', 'clariden'
